/*
Styling for various assets
*/

@font-face{
    font-family:"HelveticaNeueW01-65Medi";
    src:url("Fonts/HelveticaNeueW01-65Medi.eot?#iefix");
    src:url("Fonts/HelveticaNeueW01-65Medi.eot?#iefix") format("eot"),url("Fonts/HelveticaNeueW01-65Medi.woff") format("woff"),url("Fonts/HelveticaNeueW01-65Medi.ttf") format("truetype"),url("Fonts/HelveticaNeueW01-65Medi.svg#HelveticaNeueW01-65Medi") format("svg");
}

#terminal {position: absolute !important; top: 0; right: 0; bottom: 0; left: 0; z-index: -1; }
.loading {position: relative: z-index: 0; }
.container {position: relative; z-index: 0; }
audio { display:none; }
#userConsent { color: blue; cursor: pointer; }
body { background: black; }